$primaryColor: #ffffff;
$iconColor: #000000;
$secondaryColor: #ffffff;
$transitionSpeed: 0.3s;
$menuItemHeight: 56px;

.fabBaseContainer {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 0;
  padding: 0 16px;

  .fabContainer {
    position: relative;
    width: 100%;
    max-width: 1000px;
    display: flex;
    margin-bottom: 40px;
    justify-content: flex-start;
    align-items: flex-start;

    .fabMainButton {
      width: 56px;
      height: 56px;
      background-color: $primaryColor;
      color: $iconColor;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      z-index: 10;
      position: relative;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform $transitionSpeed ease;

      .fabIcon {
        font-size: 36px;
        font-weight: 100;
        transform: rotate(0);
        transition: transform $transitionSpeed ease;
      }

      &:hover {
        background-color: darken($primaryColor, 10%);
      }
    }

    .fabMenu {
      display: inline-flex;
      align-items: center;
      position: absolute;
      right: 56px; // Positioned right next to the main button
      bottom: 0;
      transform: translateX(100%);
      opacity: 0;
      transition: all $transitionSpeed ease;
      pointer-events: none;
    }

    &.expanded {
      .fabMainButton {
        background-color: $iconColor;
        color: $primaryColor;
        .fabIcon {
          transform: rotate(45deg);
        }
      }

      .fabMenu {
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;
      }
    }

    .fabMenuItem {
      display: flex;
      align-items: center;
      height: $menuItemHeight;
      background-color: $secondaryColor;
      border: none;
      padding: 0 16px;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: background-color $transitionSpeed ease;

      &:hover {
        background-color: darken($secondaryColor, 10%);
      }

      .fabMenuItemLabel {
        margin-left: 10px;
        white-space: nowrap;
      }
    }
  }

  @media (max-width: 600px) {
    padding: 0;

    .fabContainer {
      margin-right: 0px;
      margin-bottom: 0px;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }
}
