$primary-color: rgb(151, 37, 37);
$primary-color-hover: rgb(201, 74, 74);

.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
    line-height: inherit;
  }
}

.timelineItem {
  margin: 20px 0;
  padding-left: 25px;
  position: relative;
  list-style-type: none;

  &:last-child {
    padding-bottom: 0;
  }
}

.timelineInfo {
  font-weight: 300;
  letter-spacing: 3px;
  margin: 0 0 0.5em 0;
  padding: 0 10px;
  text-transform: uppercase;
  white-space: nowrap;
  color: white;
}

.timelineMarker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20px;
  transition: 0.5s;

  &::before {
    background: $primary-color;
    border-radius: 100%;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
  }

  &::after {
    content: "";
    width: 3px;
    background: $primary-color;
    display: block;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 6px;
  }

  .timelineItem:last-child &::after {
    content: none;
  }

  .timelineItem:not(.period):hover &::before,
  .timelineItem:not(.period):hover &::after {
    background: $primary-color-hover;
  }
}

.timelineContent {
  overflow: clip;
  padding-left: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  transition: 0.5s;
  font-weight: 300;
  color: white;

  p:last-child {
    margin-bottom: 0;
  }

  h3 {
    transition: 0.5s;
    color: var(--primary-color);
  }

  &:hover h3 {
    text-shadow: none;
    color: var(--secondary-color);
  }

  @media (min-width: 768px) {
    padding-bottom: 15px;
  }
}

.timeLineLink {
  width: 16rem;
  max-width: 58vw;
  align-items: center;
  text-align: center;
}

.timeLineLinkFont {
  position: absolute;
  right: 15px;
  bottom: 10px;
  margin: 20px 20px;
  width: 5.5rem;
  border: 1px solid rgba(200, 200, 200);
  border-radius: 1rem;
  padding: 0.2rem 1rem;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--focus-text-color);
  }
}

.workContainer {
  // Motion-related styles can remain here
}

.workTitle {
  color: white;
}
