// _gallery-layout.scss

// Variables for consistent styling
$background-dark: black;
$navbar-background: #333;
$navbar-text-color: white;

$spacing-default: 24px;
$navbar-padding-vertical: 1rem;
$navbar-padding-horizontal: 2rem;

$icon-font-size: 1.5rem;

// Main page layout
.gallery-main {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: $spacing-default;
  background-color: $background-dark;
}

// Navigation bar
.gallery-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $navbar-padding-vertical $navbar-padding-horizontal;
  background-color: $navbar-background;
  color: $navbar-text-color;

  // Navbar icon
  &-icon {
    font-size: $icon-font-size;
    cursor: pointer;
  }
}
